# {{ ansible_managed }}
{% if item.explanation is defined and item.explanation %}
Explanation: {{ item.explanation }}
{% endif %}
Package: {{ item.package | default('*') }}
Pin: {{ item.pin }}
Pin-Priority: {{ item.priority }}
