# {{ ansible_managed }}
{% if item.explantion is defined and item.explantion %}
Explantion: {{ item.explantion }}
{% endif %}
Package: {{ item.package | default('*') }}
Pin: {{ item.pin }}
Pin-Priority: {{ item.priority }}
